@{
    ViewBag.Title = "Naslovna";
}

<div class="jumbotron" style="background-image : url('../naslovnagym.png');width:1150px; height:400px;">
    <h1 style="color: white">Dobrodošli!</h1>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Naša vizija</h2>
        <p>
            Ljudi kojima je vežbanje ušlo u krv. Ljudi koji razumeju da nije dovoljno početi u maju, dva meseca pred more. 
            Ljudi koji ne vežbaju samo zbog fizičkog izgleda, ali su zadovoljni fizičkim izgledom. 
            Znamo da je nemoguće kreirati jedan savršeni svet, u kojem bi svi bili nasmejani i srećni. Zato to i ne pokušavamo. 
            Ali, moguće je pomoći ljudima da budu jači, izdržljiviji i spremniji za sve ono što život nosi. 
            Zato na tome radimo, svakog dana.
            Naša vizija su ljudi koji umeju da se suoče sa životom, ljudi koji razumeju sebe i svoje telo i ljudi koji umeju da se smeju.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Naša misija</h2>
        <p>
            Inspirišemo i podstičemo. Da što više ljudi dobije priliku da upozna sopstveno telo, i da sklopi savezništvo sa njim. 
            Da budemo sredstvo za savladavanje najvećeg beogradskog neprijatelja – stresa. 
            Da vežbamo sa vrhunskim profesionalcima, i da vežbamo sa početnicima koji prvi put ulaze u fitnes salu. 
            Da dokažemo da ne postoji osoba koja „nije za fitnes“. Da svaku osobu koja misli „da nije za fitnes“ prigrlimo, i pokažemo joj da nema razloga da sputava sebe.
            Zato što svako, baš svako zaslužuje da živi u skladu sa sopstvenim telom i zdravljem. 
            Jer je zdravo telo dom zdravih i bistrih misli, a zdrave i bistre misli su put ka kvalitetnijem i srećnijem  životu.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
   
</div>